@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: 'Inter', sans-serif;
    --color-primary-blue: #2563eb;
}

body{
    background: #212121;
}

.my-container{
    margin-left: 300px;
    padding: 50px 90px;
}